<fieldset>
    <legend>Calculator with NgModel but no form</legend>
    <div>
        <label for="txtFirst">First: &nbsp;</label>
        <input type="number" id="txtFirst" name="firstNum" [(ngModel)]="first">
    </div>
    <div>
        <label for="txtSecond">Second: &nbsp;</label>
        <input type="number" id="txtSecond" name="secondNum" [(ngModel)]="second">
    </div>
    <div>
        <button type="button" (click)="calculate()">Calculate</button>
    </div>
    <div>
        <label for="txtResult">Result: &nbsp;</label>
        <input type="text" id="txtResult" readonly [value]="result">
    </div>
</fieldset>