<!-- var frm = document.getSlector('form')-->
 <!-- #frm -> template reference variable -->
<form ngForm (submit)="calculate(frm)" #frm="ngForm">
    <div>
        <div>
            <label for="txtFirst">First: &nbsp;</label>
            <!-- <input type="number" id="txtFirst" name="firstNum" [(ngModel)]="first"> -->
            <input type="number" id="txtFirst" name="firstNum" ngModel>
        </div>
        <div>
            <label for="txtSecond">Second: &nbsp;</label>
            <!-- <input type="number" id="txtSecond" name="secondNum" [(ngModel)]="second"> -->
            <input type="number" id="txtSecond" name="secondNum" ngModel>
        </div>
        <div>
            <!-- 
            use button tye when not using form and handle click event
             -->
            <!-- <button type="button" (click)="calculate()">Calculate</button> -->
            <button type="submit">Calculate</button>
        </div>
        <div>
            <label for="txtResult">Result: &nbsp;</label>
            <input type="text" id="txtResult" readonly [value]="result">
        </div>
    </div>
</form>